# AgroConnect Forecast & AI Microservice Configuration
PORT=8000
HOST=0.0.0.0
SUPABASE_URL=https://rzppmfkltvgcejyiwufr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cHBtZmtsdHZnY2VqeWl3dWZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwMTI5NDksImV4cCI6MjEwNDU4ODk0OX0.svPL0mG7h6S-WzYvGuJkalhpj-zJzwBPYknXtHCVl8s
AGMARKNET_API_KEY=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b
